<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <h1>Hello, Vue ;)</h1>
        <div id="app" class="app">
            <div v-if="showBooks">
                <h2>{{title}}-{{author}}-{{age}}</h2>
               
            </div>
            <button @click="toggleShowBooks">
                <span v-if="showBooks">Hide Books</span>
                <span v-if="!showBooks">Show Books</span>

            </button>
            <!-- <button v-on:click="age++">
                Increase age
            </button>

            <button v-on:click="age--"></button>
                Decrease age
            </button>

            <div  @click=" changeTitle">
                Change book title
            </div> -->
         </div>


     <script src="./app.js"></script>
   
</body>
</html>